h1{ text-align: center; margin-bottom: 50px;}
#balloon-count{
    width: 100px;
    height: 100px;
   position: absolute;
   margin:-15px;
   padding: 0;
   font-size: 30px;
   text-align: center;
   padding-top: 30px;
   border:3px black solid;
   border-radius: 0 0 25% 0;
   
}

.rock {
  width: 100px;
  height: 100px;
  background-color: black;
  position: absolute;
  z-index: 2;

}

.mountain{
  position: absolute;
  height: 100%;
}

span {
  font-size: 50px;
  position: absolute;
  left: 10%;
  width: 50px;
  margin: 3px;
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  cursor: pointer; 
  animation: backInDown;
  --animate-duration: 2s;
}
